body {
  background-color: rgb(255, 255, 255);
  color: rgb(41, 41, 41);
  overflow: hidden;
  font-size: 1rem;
}

.separator {
  height: 10px;
}

#ceilling {
  margin-top: 20vh;
}

#mainWindowContainer {
  transition: all 1s;
}

.icon {
  height: 3vh;
  background-color: rgb(232, 232, 232);
  width: max(170px, 10vw);
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px 10px 0 0;
  overflow: visible;
  position: relative;
  display: flex;
  z-index: 2;
  box-shadow: 0 20px 17px rgba(0, 0, 0, 0.33) inset;
  justify-content: center;
}

.iconGraphics {
  font-size: max(20vh, 10vw);
  position: absolute;
  bottom: 0;
  line-height: 0.7;
}

.window {
  background-color: rgb(245, 245, 245);
  overflow: auto;
  padding: 40px 40px;
  box-sizing: border-box;
  border-radius: 50px 50px 0 0;
  height: 76vh;
  box-shadow: 0 -47px 100px rgb(170, 170, 170);
}

.configBar {
  min-height: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.configBarItem {
  display: inline-block;
  height: 40px;
  transition: all 2s;
}

.sliderBar {
  background-color: rgb(186, 186, 186);
  width: 80px;
  display: flex;
  border-radius: 40px;
  display: flex;
  transition: all 2s;
  align-content: center;
  box-shadow: 0 0 18px inset;
}

.sliderButton {
  background-color: grey;
  width: 40px;
  transition: all 2s;
  height: 40px;
  border-radius: 40px;
  box-shadow: 0 0 4px;
}

.configButton {
  min-height: 40px;
  border-radius: 5px;
  font-weight: 800;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.6);
  padding: 0 1rem;
  /* border: 2px solid rgba(0, 0, 0, 0.6); */
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: 0 0 4px;
}

.configDesc {
  max-width: 60px;
}

.courseNameBar {
  min-height: 50px;
  font-weight: 600;
  width: 100%;
  font-size: 3.5rem;
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  color: white;
  margin-bottom: 20px;
}

.bigAttendance {
  text-align: right;
  font-size: 6rem;
  font-weight: 600;
}

.mediumAttendance {
  text-align: right;
  font-size: 1.8rem;
}
